/* TYPOGRAPHY */
.navbar-brand {
	font-size: 2em;
}

/*if i don't had #nav-links before the class .header-link the style doesn't apply */
#nav-links .header-link {
	color: #ecf0f1;
	font-size: 1.5em;
}

#nav-links .header-link:hover {
	color: #6c7a89;
}

h1 {
	color: #ecf0f1;
	font-size: 4em;
}

h2 {
	color: #ecf0f1;
}

.footer-link {
	color: #ecf0f1;
}

/* navbar positioning and styling  */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	color: grey;
}

.navbar-default {
	background-color:  #f62459;
	border: none;
}

/* home positioning and styling  */

#home {
	height: 580px;
	background-color: #f62459;
	text-align: center;
}

	#home-h2-header {
		margin-top: 230px;
	}

/* about positioning and styling  */
#about {
	text-align: center;
	background-color: grey;
	padding-bottom: 60px;
}

#about-paragraph {
	font-size: 1.5em;
}

/* portfolio positioning and styling  */

#portfolio {
	padding-top: 60px;
	background: white;
}

/* contact positioning and styling  */
#contact {
	height: 50px;
	background-color: #f62459;
}

.footer-link {
	margin-left: 10px;
	padding-top: 10px;
}

@media (max-width: 365px) {
	h1 {
		font-size: 3em;
	}
}







